<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>


<form action=""  method="post">
  id of user:<br>
 <input type="text" class="form_control" name="id" value="{{request.form.id}}">
 <br>
 Name User:<br>
 <input type="text" class="form_control" name="name" value="{{request.form.name}}">
 <br>

  Password:<br>
 <input type="text" class="form_control" name="pass" value="{{request.form.pass}}"><br><br>
 <input type="submit" value="Submit">
</form>
</body>
</html>