<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

    #signup {
        display: none;
    }


</style>
<body>


<form action=""  method="post"><h2>Sign in</h2>
 user name:<br>
 <input type="text" class="form_control"  name="uname" value="{{request.form.uname}}">
 <br>
   Password:<br>
 <input type="password" class="form_control"  name="pass" value="{{request.form.pass}}"><br><br>

 <input type="submit" value="Submit">
</form>
<br><a href={{ url_for('sign_up') }}>sign up</a>
</body>
</html>