<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>


<form action=""  method="post">
{#  Title:<br>#}

{# <input type="text" class="form_control"  name="title" value="{{title}}">#}
{# <br>#}
{# director:<br>#}
{# <input type="text" class="form_control"  name="director" value="{{director}}">#}
{# <br>#}
   rating:<br>
 <input type="text" class="form_control"  name="rating" value="{{rating}}"><br><br>
 <input type="submit" value="Submit">
</form>
</body>
</html>